header {
  padding: 20px 15px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  background: var(--main-bg);
  border-bottom: .5px solid var(--main-font);
  position: sticky;
  top: 0;
  width: 100%;
  z-index: 999;
  .logo {
    color: var(--main-font);
    text-decoration: none;
    text-transform: uppercase;
    font-size: 1.2rem;
    font-weight: 900;
    letter-spacing: .07rem;
  }
  nav {
    a {
      color: var(--main-font);
      padding: 10px 25px;
      text-decoration: none;
      text-transform: uppercase;
      font-weight: 500;
      transition: .3s ease-in-out;
      font-size: .9rem;
      &:hover {
        color: var(--hover-color);
      }
    }
    .register__btn {
      background: var(--primary-color);
      color: var(--secondary-font);
      padding: 10px 20px;
      border: 1px solid var(--primary-color);
      border-radius: 3px;
      transition: .3s ease-in-out;
      &:hover {
        background: var(--secondary-bg);
        color: var(--primary-color);
        border: 1px solid var(--primary-color);
      }

    }
  }
}