:root {
  --main-font: #1e272e;
  --light-font: #696969;
  --secondary-font: #F5F5F5;
  --primary-color: #65afbc;
  --hover-color: #ffa07a;
  --secondary-color: #cfcfcf;
  --opacity: rgba(0, 0, 0, .5);
  --main-bg: #ffffff;
  --secondary-bg: #dedede;
  --auto-grid-min-size: 300px;
}